body{
  position: relative;
  display: flex;
  min-height: 100vh;
  /* background-image: url(../img/background/background.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

body .background{

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content:asset('assets/imgs/PC1.png');
}




@media (max-width: 720px) {

  body .background{
    content:url("assets/imgs/tele1.jpg");
}


}

@media screen and (max-width: 720px){
.content{
  flex-direction: column;
      width: 100%;
}
body .background{
  content:url("assets/imgs/tele1.jpg");
}


}


    
.glightbox-clean .gnext,.glightbox-clean .gprev{

  top: 50%;

  display: flex;

}
.listliks {

position: absolute;

display: flex;

flex-wrap: wrap;

justify-content: space-between;

top: 20vh;
left: 57vw;
width: 300px;
}

.listliks {
    top: 15vw;
    left: 70vw;
}
.listliks li a img {
    width: 25vw;
}


    
    
    
.listliks li {

flex: 0 0 calc(33.33% - 10px);

/* margin-bottom: 20px; */

list-style: none;

}
.listliks li a {

display: block;

text-align: center;

width: 15vw;
}
.listliks li img {

width: 100%;

height: auto;

}
/* Responsive Styles */

@media (max-width: 720px) {

.listliks {

  position: absolute;

display: flex;

flex-wrap: wrap;

justify-content: space-between;

top: 14vh;
left: 0vw;
width: 70vw;
}

.listliks {
    top: 50vw;
    left: 3vw;
}
.listliks li a img {
    width: 25vw;
}

.listliks li a {

width: 70vw;

}
.listliks li {

flex-basis: calc(50% - 10px);

}
}
@media (max-width: 480px) {

.listliks li {

flex-basis: 100%;

}


}

